# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Sensitive variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# CLI config
.terraformrc
terraform.rc

# Local / editor junk
.DS_Store
.idea/
.vscode/

# Plan & override files
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
kind-fluxcd-config
